{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'static/css/create.css' %}">
</head>
<body>
    <nav>
        <div class="nav">
            <h3 class="apk">Quaf</h3>
            <div class="navigasi">
                <a href="/">Home</a>
                <a href="/manager/">Manager</a>
            </div>
            <h3 class="user">{{user}}</h3>
        </div>
    </nav>
    <div class="title"><p>Create</p></div>
    <div class="form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form}}
                {{contoh}}
                <tr>
                    <td></td><td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>