<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        <input type="text" name="search">
    </form>
    <table>
        <tr>
            <th>Soal</th>
            <th>Code</th>
            <th>Action</th>
        </tr>
        {% for x in object_list %} 
        <tr>
            <td>{{x.title}}</td>
            <td>{{x.description}}</td>
            <td><a href="{{x.id}}/update">Update</a></td>
            <td><a href="">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>