{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUAF</title>
    <link rel="stylesheet" href="{% static 'static/css/landingPage.css' %}">
</head>

<body>
    <header>
        <h1><p> QUAF </p></h1>
        <nav>
            <li><p><b> {{user}} </b></p></li>
        </nav>
    </header>
    <main>
        <div class="welcome">
            <p>Welcome {{user}}...</p>
        </div>
        <div class="garis"></div>
        <p class="judulc">Courses</p>
        {% for x in object_list%}
        <div class="container-card">
            <a class="content" href="{{x.course}}">
                <div class="card">
                    <img src="{% static x.img %}" alt="">
                    <div class="vertikal">
                        <a href="{{x.course}}" class="namecourses">{{x.course}}</a>
                        <div class="horizontal">
                            <div class="garisprogres"></div>
                            {% if x.course == 'Java'%}
                            <div class="progres">{{Java}}%</div>
                            {% elif x.course == 'PHP' %}
                            <div class="progres">{{PHP}}%</div>
                            {% elif x.course == 'Kotlin' %}
                            <div class="progres">{{Kotlin}}%</div>
                            {% elif x.course == 'Android' %}
                            <div class="progres">{{Android}}%</div>
                            {% elif x.course == 'HTML' %}
                            <div class="progres">{{HTML}}%</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </main>

</body>

</html>