<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="Java">Java</a></td>
        </tr>
        <tr>
            <td><a href="Kotlin">Kotlin</a></td>
        </tr>
        <tr>
            <td><a href="PHP">PHP</a></td>
        </tr>
        <tr>
            <td><a href="Android Studio">Android Studio</a></td>
        </tr>
    </table>
    <textarea name="" id="" style="width: 50%;height:500px;"></textarea>
</body>
</html>